.layout-center {
  margin-top: 25%;
}
#logo-container {
  margin: auto;
  margin-bottom: 10px;
  width:212px;
  height:67px;
  background: url('../images/logo.gif');
  background-repeat: no-repeat;
}

input[type='file'] {
  color: transparent;
}
.dish_item, .dish_item_of_menu {
  position: relative;
}
#insert, #remove {
  position: absolute;
  right: 20px;
}
.dish-favourite-item {
  position: relative;
}
.top-5 {
  position: absolute;
  top: 3%;
  left: 5%;
}
.announcement_item, .comment_item, .choose-status , .btn-meal-report{
  cursor: pointer;
}
.announcement-detail, .comment-detail {
  width: 100%;
}

.table-header {
  margin-bottom: 0px;
}
.btn-table-normal {
  background-color: #2A3F54;
  color: #E7E7E7;
}
.btn-table-vegan
{
  background-color: #1ABB9C;
  color: #E7E7E7;
}
.img-user{
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
}
.border-success {
  border: 3px solid #26B99A;
}
.border-danger {
  border: 3px solid #D9534F;
}
.border-warning {
  border: 3px solid #F39C12;
}
.title_left{
  margin-left: 20px;
}
.table-name
{
 
  color: #73879C;
}

/*Back to top button*/
#elevator_item {
  width: 60px;
  height: 100px;
  position: fixed;
  right: 15px;
  bottom: 10px;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  opacity: 1;
  z-index: 100020;
  display: none;
}
#elevator_item.off {
  opacity: 0;
  visibility: hidden
}
#elevator {
  display: block;
  width: 60px;
  height: 50px;
  background: url(../images/icon_top.png) center center no-repeat;
  background-color: #444;
  background-color: rgba(0,0,0,.6);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  cursor: pointer;
  margin-bottom: 10px
}
#elevator:hover {
  background-color: rgba(0,0,0,.7)
}
#elevator:active {
  background-color: rgba(0,0,0,.75)
}

#lastest-comments ul, #lastest-comments li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#lastest-comments li:first-child{
  border-top: 1px solid #d7d7d7;
}
#lastest-comments li {
  overflow: hidden;
  height: 80px;
  padding: 10px;
  border-bottom: 1px solid #d7d7d7;
  background: white;
}
.join_table, .leave_table {
  cursor: pointer;
}
.select-table{
  margin-top: 25%;
  font-size: 12px;
  color: #D9534F;
  font-weight: bold;
}
.tables
{
  margin-top: 150px;
  margin-bottom: 150px;
  border-radius: 50%;
  background-color: #2A3F54;
}
.user-name {
  margin-top: -10px;
}
.table-name {
  position: absolute;
  bottom: -70%;
  width: 100%;
  color: #73879C;

}

@media only screen and (max-width: 767px) {

/*--[ Mobile styles go here]-------------------------------*/
.moon {
  width: 45px;
  height: 45px;
}

.orbit-center {
  width: 105px;
  height: 105px;
  margin-top: 100px;
  margin-left: 50px;
}

.table-name
{
  position: absolute;
  bottom: -120%;
  width: 100%;
}
}
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/Preloader_10.gif) center no-repeat #fff;
}

.lastest-comment
{
  cursor: pointer;
}
.post-replies
{
  margin-top: 5px;
}
.loadingx {
  display: none;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/loading.gif) center no-repeat #fff;
}